.follow-up{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
}

.proposta-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgba(163, 163, 163, 0.34);
    margin: 10px;
    padding: 10px;
}
.box2{
    padding-right: 150px;
}
.box1{
    padding-left: 30px;
}



.imagem-section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin: 20px;
}

.button-add{
    width: 5%;
    height: 37px;
    align-items: center;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

.imagem{
    width: 250px;
    height: 250px;
}
.input-image{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.input-add{
    width: 25%;
}

img {
    border-radius: 15px;
}

.image-box{
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.revisao-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;
}
.revisao{
    background-color: rgba(163, 163, 163);
    border-radius: 5px;
    padding: 10px;
}

.tratativa{
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
    padding: 10px;
}

.tratativa-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;

}

.input-add-tratativa{
    width: 70%;
}

h2{
    margin-left: 10px;
}

#file-upload-button{
    border-radius: 5px;
}

.select{
    background-color: #a3a3a357;
    border: none;
    border-radius: 10px;
    font-family: Montserrat;
    height: 30px;
    margin-left: 15px;
    width: 120px;
}
.Modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 800px;
    height: 600px;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }
  